<?xml version="1.0" encoding="utf-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        version="0.0.1.1"
        rim:header="RIM-Widget: rim/widget">
	<author href="https://github.com/adrianlee">Adrian Lee, James Choi</author>
	<name>Photo Gallery</name>
	<description>
		Photo Gallery.
	</description>

	<content src="index.html" />
	<icon src="img/icon.png" />

	<rim:category name="media" />

	<feature id="blackberry.io.dir" />

	<access uri="*" />
	<rim:permissions>
		<rim:permit>access_shared</rim:permit>
	</rim:permissions>
	
	<orientation mode="landscape"/>
</widget>
