<?xml version="1.0" encoding="utf-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        version="1.0"
        rim:header="RIM-Widget: rim/widget">
	<author></author>
	<name>Super Simple Photo Gallery</name>
	<description>
		Photo Gallery
	</description>

	<content src="index.html"></content>

	<feature id="blackberry.io.dir" />

	<access uri="*" />
</widget>