<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Super Simple Photo Gallery</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body id="home">
  <!-- navigation -->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container" style="width: auto; margin: 0 10px;">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Spectator</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><a href="#">Recent</a></li>
            <li><a href="#most">Most Viewed</a></li>
            <li><a href="#fav">Favourite</a></li>            
          </ul>
          <ul class="nav pull-right">
            <li class="divider-vertical"></li>
            <li><a onclick="location.reload();"><i class="icon-refresh icon-white"></i> Refresh</a></li>
            <li class="divider-vertical"></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Options <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Settings</a></li>
                <li><a href="#">About Spectator</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Stage -->
  <div id="container" class="clearfix"></div>
  <div id="footer" class="clearfix"></div>

  <script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="js/jquery.masonry.min.js"></script>
  <script type="text/javascript" src="js/underscore-min.js"></script>
  <script type="text/javascript" src="js/backbone-min.js"></script>
  <script type="text/javascript" src="js/backbone-localStorage.js"></script>
  
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/retrieve_images.js"></script>

  <!-- <script type="text/javascript" src="js/gallery.js"></script> -->
  <script type="text/javascript" src="js/gallery-backbone.js"></script>

  <script type="text/template" id="photo-template">
    <a class="open">
      <img src="<%= src %>"/>
      <span class="id hide"><%= id %></span>
    </a>
    <div class="imgmenu hide">
        <a class="btn btn-large active"><%= view %> Views</a>
        <a class="btn btn-large fav"><i class="icon-star"></i> Favourite</a>
        <a class="btn btn-large hideimg"><i class="icon-eye-open"></i> Hide</a>
        <a class="btn btn-large trash"><i class="icon-trash"></i> Trash</a>
    </div>
  </script>
  
  <script type="text/template" id="stats-template">
    <span class="collection"><%= collection %></span>
    <span class="storage"><%= storage %></span>
  </script>
</body>
</html>